@use '../design' as *;

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $space-one-x;

  @include media-md-up {
    padding: 0 $space-two-x;
  }

  @include media-lg-up {
    padding: 0 $space-four-x;
  }
}