@use '../design' as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-two-x;
  width: 100%;
  height: 100dvh;
  max-height: 616px;

  &__preheading {
    @include text-heading-serif-300;
  }

  &__heading {
    @include text-heading-serif-400;
  }

  &__description {
    @include text-body;
  }
  
  @include media-md-up {
    &__preheading {
      @include text-heading-serif-400;
    }

    &__heading {
      @include text-heading-serif-500;
    }
  }

  @include media-lg-up {
    &__heading {
      @include text-heading-serif-600;
    }
  }
}