@use '../design' as *;

.index {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
  }

  &__heading {
    @include text-heading-serif-600;
    margin-bottom: 16px;
  }

  &__description {
    @include text-body;
  }
}